<footer class="mt-4">
    <style>
        .list-unstyled a {
            color: white !important;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <div class="container-fluid p-5 navbar-dark text-light" style="background-color: black">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h3>VỀ MACONE</h3>
                <ul class="list-unstyled">
                    <li class="footer-cty"><i class="fa fa-home"></i> <span>19 Đ. Nguyễn Hữu Thọ, Tân Hưng, Quận 7, Thành phố Hồ Chí Minh, Vietnam.</span></li>
                    <li><i class="fa-solid fa-clock"></i> <span>8h00 đến 17h30.</span></li>
                    <li><i class="fa fa-envelope"></i> <span>phatpro2003@gmail.com</span></li>
                    <li><i class="fa fa-phone"></i> <span>0906891868</span></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <h3>TỔNG QUAN</h3>
                <ul class="list-unstyled">
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">Tuyển dụng</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <h3>CHÍNH SÁCH</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Hướng dẫn mua hàng</a></li>
                    <li><a href="#">Chuyển phát tối ưu</a></li>
                    <li><a href="#">Đổi trả dễ dàng</a></li>
                    <li><a href="#">Bảo hành trách nhiệm</a></li>
                    <li><a href="#">Bảo mật thông tin</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 justify-content-center">
                <div>
                    <h3>THANH TOÁN</h3>
                    <ul class="list-unstyled d-flex justify-content-between">
                        <li><i class="fa-regular fa-money-bill-1"></i> </li>
                        <li><i class="fa fa-credit-card"></i> </li>
                        <li><i class="fa fa-university"></i> </li>
                    </ul>
                </div>
                <div>
                    <h3>MẠNG XÃ HỘI</h3>
                    <ul class="list-unstyled d-flex justify-content-between">
                        <li><a href="#"><i class="fa-brands fa-facebook text-light"></i> </a></li>
                        <li><a href="#"><i class="fa-brands fa-youtube text-light"></i> </a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram text-light"></i> </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p style="margin-top: 1rem">© 2024 MACONE. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>